apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "hue-db"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "hue"
  annotations:
    template.alpha.openshift.io/wait-for-ready: 'true'
spec:
  strategy:
    type: Recreate
  triggers:
  - type: ConfigChange
  replicas: 1
  template:
    metadata:
      labels:
        name: "hue-db"
        app: "hue"
    spec:
      containers:
      - name: "hue-db"
        image: "{{ database_image }}"
        ports:
        - containerPort: 3306
          protocol: TCP
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - '-i'
              - '-c'
              - >-
                MYSQL_PWD=$MYSQL_PASSWORD mysql -h 127.0.0.1 -u $MYSQL_USER -D
                $MYSQL_DATABASE -e 'SELECT 1'
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 3306
          timeoutSeconds: 1
        env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: "hue-db"
              key: database-user
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "hue-db"
              key: database-password
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: "hue-db"
              key: database-name
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "hue-db"
              key: database-root-password
        resources:
          limits:
            memory: "{{ database_memory_limit }}"
        volumeMounts:
        - name: "mysql"
          mountPath: "/var/lib/mysql/data"
        terminationMessagePath: "/dev/termination-log"
        terminationMessagePolicy: File
        imagePullPolicy: IfNotPresent
        capabilities: {}
        securityContext:
          capabilities: {}
          privileged: false
      volumes:
      - name: "mysql"
        persistentVolumeClaim:
          claimName: "hue-db"
      restartPolicy: Always
      dnsPolicy: ClusterFirst
